#!/bin/bash
export TERMINAL="alacritty"
export EDITOR="nvim"
export FILE="pcmanfm"

export GTK2_RC_FILES="$XDG_CONFIG_HOME/gtk-2.0/gtkrc"
export NODE_REPL_HISTORY="$XDG_DATA_HOME/node_repl_history"
export NPM_CONFIG_USERCONFIG="$XDG_CONFIG_HOME/npm/npmrc"
export GOPATH="$XDG_DATA_HOME/go"
export CARGO_HOME="$XDG_DATA_HOME/cargo"
export LESSHISTFILE="-"
export KDEHOME="$XDG_CONFIG_HOME/kde"
export ZDOTDIR="$XDG_CONFIG_HOME/zsh"

